<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V17</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/assets/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<%= form_for @contact, url: contact_path, html: { class: "contact100-form validate-form" } do |f| %>
				<% flash.each do |key, value| %>
					<div class="wrap-input100 alert alert-<%= key %>"><%= value %></div>
				<% end %>

				<span class="contact100-form-title">
					Send Us A Message
				</span>

				<%= f.label "firstname", "Tell us your name *", class: "label-input100" %><br />
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
					<%= f.text_field "firstname", class: "input100", placeholder: "First name" %>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
					<%= f.text_field "lastname", class: "input100", placeholder: "Last name" %>
					<span class="focus-input100"></span>
				</div>

				<%= f.label "email", "Enter your email *", class: "label-input100" %>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<%= f.email_field "email", class: "input100", placeholder: "Eg. example@email.com" %>
					<span class="focus-input100"></span>
				</div>
				
				<%= f.label "phone", "Enter phone number", class: "label-input100" %>
				<div class="wrap-input100">
					<%= f.text_field "phone", class: "input100", placeholder: "Eg. +1 800 000000" %>
					<span class="focus-input100"></span>
				</div>

				<%= f.label "message", "Message *", class: "label-input100" %>
				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<%= f.text_area "message", class: "input100", placeholder: "Write us a message" %>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<%= f.submit "Send Message", class: "contact100-form-btn" %>
				</div>


				
			<% end %>

			<div class="contact100-more flex-col-c-m" style="background-image: url('/assets/bg-01.jpg');">
				<div class="flex-w size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-map-marker"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Address
						</span>

						<span class="txt2">
							Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-phone-handset"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Lets Talk
						</span>

						<span class="txt3">
							+1 800 1236879
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							General Support
						</span>

						<span class="txt3">
							contact@example.com
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="/assets/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/bootstrap/js/popper.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="/assets/daterangepicker/moment.min.js"></script>
	<script src="/assets/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/assets/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/assets/main.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
</body>
</html>