<div class="container-contact100">
	<div class="wrap-contact100">
		<%= form_for @contact, url: api_save_contact_path, html: { class: "contact100-form validate-form" } do |f| %>
			<% flash.each do |key, value| %>
				<div class="wrap-input100 alert alert-<%= key %>"><%= value.to_sentence %></div>
			<% end %>

			<span class="contact100-form-title">
				<%= t('form.title') %>
			</span>

			<%= f.label "firstname", t('form.label.name'), class: "label-input100" %><br />
			<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
				<%= f.text_field "firstname", class: "input100", placeholder: "First name" %>
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
				<%= f.text_field "lastname", class: "input100", placeholder: "Last name" %>
				<span class="focus-input100"></span>
			</div>

			<%= f.label "email", t('form.label.email'), class: "label-input100" %>
			<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
				<%= f.email_field "email", class: "input100", placeholder: "Eg. example@email.com" %>
				<span class="focus-input100"></span>
			</div>
			
			<%= f.label "phone", t('form.label.phone'), class: "label-input100" %>
			<div class="wrap-input100">
				<%= f.text_field "phone", class: "input100", placeholder: "Eg. +1 800 000000" %>
				<span class="focus-input100"></span>
			</div>

			<%= f.label "message", t('form.label.message'), class: "label-input100" %>
			<div class="wrap-input100 validate-input" data-validate = "Message is required">
				<%= f.text_area "message", class: "input100", placeholder: "Write us a message" %>
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<%= f.submit t('form.button.submit'), class: "contact100-form-btn" %>
			</div>

		<% end %>

		<div class="contact100-more flex-col-c-m" style="background-image: url('/assets/bg-01.jpg');">
			<div class="flex-w size1 p-b-47">
				<div class="txt1 p-r-25">
					<span class="lnr lnr-map-marker"></span>
				</div>

				<div class="flex-col size2">
					<span class="txt1 p-b-20">
						<%= t('form.label.address') %>
					</span>

					<span class="txt2">
						Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US
					</span>
				</div>
			</div>

			<div class="dis-flex size1 p-b-47">
				<div class="txt1 p-r-25">
					<span class="lnr lnr-phone-handset"></span>
				</div>

				<div class="flex-col size2">
					<span class="txt1 p-b-20">
						<%= t('form.label.lets_talk') %>
					</span>

					<span class="txt3">
						+1 800 1236879
					</span>
				</div>
			</div>

			<div class="dis-flex size1 p-b-47">
				<div class="txt1 p-r-25">
					<span class="lnr lnr-envelope"></span>
				</div>

				<div class="flex-col size2">
					<span class="txt1 p-b-20">
						<%= t('form.label.general_support') %>
					</span>

					<span class="txt3">
						contact@example.com
					</span>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/assets/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/bootstrap/js/popper.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/select2/select2.min.js"></script>
<script>
	$(".selection-2").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect1')
	});
</script>
<!--===============================================================================================-->
<script src="/assets/daterangepicker/moment.min.js"></script>
<script src="/assets/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/assets/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/assets/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>