Hi Team, </br>
<p> Please find the details below</p></br>
<b>Firstname: </b> <%= @contact.firstname %></br>
<b>Lastname: </b> <%= @contact.lastname %></br>
<b>Email: </b> <%= @contact.email %></br>
<b>Phone: </b> <%= @contact.phone %></br>
<b>Message: </b> <%= @contact.message %></br>

Regards,</br>
Contact Portal.