<!DOCTYPE html>
<html>
  <head>
    <title>ContactPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
  </head>

  <body>
    <nav> 
      <%= link_to 'Contact Portal', root_path, class: "logo" %>
      <ul> 
        <li><%= link_to 'English', root_path(locale: :en) %></li>
        <li>|</li>
        <li><%= link_to 'Malay', root_path(locale: :ms) %></li> 
      </ul> 
    </nav>
    <%= yield %>
  </body>
</html>
