<!DOCTYPE html>
<html>
  <head>
    <title>ContactPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
      <link rel="icon" type="image/png" href="/assets/icons/favicon.ico"/>
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/animate/animate.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/select2/select2.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/util.css">
      <link rel="stylesheet" type="text/css" href="/assets/main.css">
    <!--===============================================================================================-->
  </head>

  <body>
    <nav> 
      <%= link_to 'Contact Portal', root_path, class: "logo" %>
      <ul> 
        <li><%= link_to 'English', root_path(locale: :en) %></li>
        <li>|</li>
        <li><%= link_to 'Malay', root_path(locale: :ms) %></li> 
      </ul> 
    </nav>
    <%= yield %>
  </body>
</html>
